{% extends "base.html" %}

{% block content %}

<section class="intro-section" id="intro">
    <div class="intro-section-content">
        <h2 class="mt-4">HMRC Assistant ChatGPT Demo</h2>
        </br>
        <h4>GPT Family</h4>
        </br>
        <p><b>Model:</b> GPT-3.5 (ChatGPT)</p>
        </br>
        <p><b>Use Case:</b> Generate convasational text to assist users who contact HMRC. Please type message below.</p>
        </br>
        <head>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
          <link rel="stylesheet" href="/static/style.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      </head>
      <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-7 offset-sm-2">
                    <div id="chatbox" class="border border-success">
                        <p></p>
                        <p class="botText"><span>I'm a HMRC assistant running on Azure Open AI...</span></p>
                    </div>
                    <div id="userInput">
                        <input id="textInput" class="form-control" type="text" name="msg" placeholder="Type Your Message Here">
                        <input id="buttonInput" class="btn btn-success form-control" type="submit" value="Send">
                    </div>
                </div>
            </div>
        
        <script>
            function getResponse() {
                let userText = $("#textInput").val();
                let userHtml = '<p class="userText"><span>' + userText + '</span></p>';
                $("#textInput").val("");
                $("#chatbox").append(userHtml);
                document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
                $.get("/get_response", { msg: userText }).done(function(data) {
                var botHtml = '<p class="botText"><span>' + data + '</span></p>';
                $("#chatbox").append(botHtml);
                document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
        });
        }
            $("#textInput").keypress(function(e) {
            //if enter key is pressed
                if(e.which == 13) {
                    getResponse();
                }
            });
            $("#buttonInput").click(function() {
                getResponse();
            });
            </script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        </div>
        
</section>

{% endblock %}