{% extends "base.html" %}

{% block content %}

<section class="intro-section" id="intro">

    <div class="intro-section-content">
        <h2 class="mt-4">OpenAI</h2>
        <p>OpenAI family of models:</p>
        <p>
            <ul>
                <li>GPT-3</li>
                <li>Codex</li>
                <li>Embeddings</li>
            </ul>
        </p>
        <p>OpenAI Use Cases:</p>
            <ul>
                <li>Content Generation</li>
                <li>Summarization</li>
                <li>Code Generation</li>
                <li>Semantic Search</li>
            </ul>
    </div>

</section>
        
{% endblock %}