{% extends "base.html" %}

{% block content %}

<section class="intro-section" id="intro">
    <div class="intro-section-content">
        <h2 class="mt-4">Code Generation</h2>
        </br>
        <h4>Codex</h4>
        </br>
        <p><b>Model:</b> code-davinci-002</p>
        </br>
        <p><b>Use Case:</b> Generate Python from Natural Language. Our demo example below shows natural language asking 
        GPT to wite a script to load, visualise and then train a machine learnig classifier. Feel free to write your own prompt.</p>
        </br>

        <form name="inputForm" action="/python" method="post">
            <p>Please describe the desired Python code output:</p>
            <textarea rows="10" cols="100" id="input" name="input">{{ python_input }}</textarea>
            <br><br>
            <p><input type="submit" value="Convert to Python" id="submit_button" onclick="loading();clearResponse();"></p>
        </form>

        <div id="loading" style="display:none;"><img src="{{url_for('static', filename='assets/R.gif')}}" alt="Generating python..." width="100" height="100"/></div>
    
        <br>
        <p id="response" style="width:75%; white-space:pre-wrap;">{{ fooResponse }}</p>

    </div>
        
</section>

{% endblock %}